@font-face {
  font-family: "thermal-receipt";
  src: url("/font/thermal-receipt.ttf");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.thermal-receipt {
  font-family: "thermal-receipt" !important;
}
.receiptContainer {
  background-image: url(/wrinkled-paper-texture-7.jpg);
  background-position: center;
  filter: brightness(105%);
  padding: 20px;
}

.a4-vertical {
  letter-spacing: -0.04em;
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5cm;
}

.a4-horizontal {
  letter-spacing: -0.04em;
  width: 29.7cm;
  height: 21cm;
  margin: 0 auto;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5cm;
}

@media print {
  .a4-vertical,
  .a4-horizontal {
    box-shadow: none;
    margin-bottom: 0;
  }
  .page-break {
    page-break-before: always;
  }
}
